*{
  padding: 0;
  margin: 0;
}
html,body,#app{
  width: 100%;
  height: 100%;
}
body{
  background-color: #f9f9f9;
}

/* 浅色主题 */
/* .body.vscode-light {
	background: #f9f9f9;
} */
/* 深色主题 */
/* body.vscode-dark {
	background: #252526;
	color: white;
} */
/* 高对比度主题 */
/* body.vscode-high-contrast {
	background: white;
	color: red;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
